
.logo {
    color: #fff !important;
}
.cart-nav {
    color: fff;
}

.footer {
    background-color: #edede9;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    margin-top: 30rem;
}
